<p id="notice"><%= notice %></p>

<p>
  <strong>Buy num:</strong>
  <%= @solicitation.buy_num %>
</p>

<p>
  <strong>Rev:</strong>
  <%= @solicitation.rev %>
</p>

<p>
  <strong>Title:</strong>
  <%= @solicitation.title %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @solicitation.buyer %>
</p>

<p>
  <strong>End time:</strong>
  <%= @solicitation.end_time %>
</p>

<p>
  <strong>Set aside req:</strong>
  <%= @solicitation.set_aside_req %>
</p>

<p>
  <strong>Location:</strong>
  <%= @solicitation.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @solicitation.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @solicitation.subcategory %>
</p>

<p>
  <strong>Naics:</strong>
  <%= @solicitation.naics %>
</p>

<p>
  <strong>Fbo solicitation:</strong>
  <%= @solicitation.fbo_solicitation %>
</p>

<p>
  <strong>Recovery act:</strong>
  <%= @solicitation.recovery_act %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @solicitation.delivery %>
</p>

<p>
  <strong>Bid delivery days:</strong>
  <%= @solicitation.bid_delivery_days %>
</p>

<p>
  <strong>Repost reason:</strong>
  <%= @solicitation.repost_reason %>
</p>

<p>
  <strong>Solicitation num:</strong>
  <%= @solicitation.solicitation_num %>
</p>

<p>
  <strong>Revised at:</strong>
  <%= @solicitation.revised_at %>
</p>

<p>
  <strong>Removed at:</strong>
  <%= @solicitation.removed_at %>
</p>

<%= link_to 'Edit', edit_solicitation_path(@solicitation) %> |
<%= link_to 'Back', solicitations_path %>
